/* HEADER + LOGO */
.top-bar {
    display: flex;
    justify-content: space-between; /* Separa los elementos a los extremos y el logo al centro */
    align-items: center;           /* Alinea todo verticalmente */
    padding: 10px 20px;
}

.logo-topbar {
    height: 150px;                  /* Tamaño discreto para la barra superior */
    width: auto;
    /* Si quieres que el logo esté exactamente en el centro real: */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    background: #f2f2f2;
    color: #111;
    background-image: url('images/fonod_colmena.jpg');
    background-size: cover;       /*Ajusta la imagen para cubrir toda la pantalla */
    background-attachment: fixed; /* El fondo se queda quieto mientras haces scroll */
    background-repeat: no-repeat;
    background-position: center;
}

/* CABECERA */
header {
    background: #fff;
    border-bottom: 4px solid #000;
    padding: 1.5rem;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.tagline {
    font-style: italic;
    color: #444;
}

/* ÍNDICE */
.index {
    max-width: 1000px;
    margin: auto;
    background: #eaeaea;
    padding: 1rem;
    border-bottom: 2px solid #000;
}

.index ul {
    list-style: none;
    padding: 0;
}

.index li {
    border-bottom: 1px dotted #888;
    padding: 0.3rem 0;
}

/* CONTENIDO */
main {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 2rem;
}

.news-article {
    border-bottom: 3px double #000;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.section {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.headline {
    font-size: 2.4rem;
    margin: 0.5rem 0;
}

.headline.clickable {
    cursor: pointer;
}

.headline.clickable:hover {
    text-decoration: underline;
}

.meta {
    font-size: 0.85rem;
    color: #555;
}

.lead {
    font-size: 1.2rem;
    font-style: italic;
}

.article-content p {
    column-gap: 2rem; 
    text-align: justify;
}

/* figure img {
    width: 60%;
    align-items: center;
} */

img[alt="Einstein"] {
    width: 40%;
    display: block;
    margin: 1rem auto;
}

img[alt="abejas1"] {
    width: 40%;
    display: block;
    margin: 1rem auto;
}

img[alt="manzana"] {
    width: 40%;
    display: block;
    margin: 1rem auto;
}
img[alt="algodon"] {
    width: 40%;
    display: block;
    margin: 1rem auto;
}
img[alt="polinizador"] {
    width: 40%;
    display: block;
    margin: 1rem auto;
}

figcaption {
    font-size: 0.8rem;
    color: #555;
    border-top: 1px solid #ccc;
    padding-top: 0.3rem;
    text-align: center;
}

blockquote {
    font-size: 1.3rem;
    font-style: italic;
    border-left: 4px solid #000;
    padding-left: 1rem;
    margin: 2rem 0;
    column-span: all;
}

/* ESTADOS */
.closed .article-content {
    display: none;
}

/* LEER MÁS */
.more-text {
    display: none;
}

.toggle-btn {
    margin-top: 1rem;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    column-span: all;
}

/* FOOTER */
footer {
    background: #fff;
    border-top: 2px solid #000;
    text-align: center;
    padding: 2rem;
    font-size: 0.85rem;
}
